<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="personalprojects.seakyluo.randommenu">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:windowSoftInputMode="stateAlwaysHidden"
        tools:ignore="GoogleAppIndexingWarning">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="personalprojects.seakyluo.randommenu.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <activity
            android:name=".activities.impl.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.impl.EditFoodActivity" android:label="EditFoodActivity" />
        <activity android:name=".activities.impl.ChooseTagActivity" android:label="ChooseTagActivity" />
        <activity android:name=".activities.impl.FullScreenImageActivity" android:label="FullScreenImageActivity" android:theme="@style/DarkStatusBarTheme"/>
        <activity android:name=".activities.impl.ToCookActivity" android:label="ToCookActivity"/>
        <activity android:name=".activities.impl.MyFavoritesActivity" android:label="MyFavoritesActivity"/>
        <activity  android:name=".activities.impl.SearchActivity" android:label="SearchActivity" />
        <activity android:name=".activities.impl.ToEatActivity" android:label="ToEatActivity" />
        <activity android:name=".activities.impl.DislikeActivity" android:label="DislikeActivity" />
        <activity android:name=".activities.impl.ChooseFoodActivity" android:label="ChooseFoodActivity" />
        <activity android:name=".activities.impl.NoteActivity" android:label="NoteActivity" />
        <activity android:name=".activities.impl.MoreSettingsActivity" android:label="MoreSettingsActivity" />
        <activity android:name=".activities.impl.TagMapActivity" android:label="TagMapActivity" />
        <activity android:name=".activities.impl.EditRestaurantActivity" android:label="EditRestaurantActivity" />
        <activity android:name=".activities.impl.EditConsumeRecordActivity" android:label="EditConsumeRecordActivity" />
        <activity android:name=".activities.impl.EditRestaurantFoodActivity" android:label="EditRestaurantFoodActivity" />
        <activity android:name=".activities.impl.ShowRestaurantActivity" android:label="ShowRestaurantActivity" />
        <activity android:name=".activities.impl.ShowConsumeRecordActivity" android:label="ShowConsumeRecordActivity" />
        <activity android:name=".activities.impl.ShowRestaurantFoodActivity" android:label="ShowRestaurantFoodActivity" />
    </application>

</manifest>